spring.datasource.username={{ spring.datasource.username | awssecret }}
spring.datasource.password={{ spring.datasource.password | awssecret }}
actuator_username={{ actuator_username | awssecret }}
actuator_password={{ actuator_password | awssecret }}