mongo.collectionkey={{ mongo.collectionkey | awssecret }}
mongo.dbkey={{ mongo.dbkey | awssecret }}
mongo.encryption.key={{ mongo.encryption.key | awssecret }}
mongo.password={{ mongo.password | awssecret }}
mongo.username={{ mongo.username | awssecret }}
message.broker.userName={{ message.broker.userName | awssecret }}
message.broker.password={{ message.broker.password | awssecret }}
