## Copyright 2022-2023 NXGN Management, LLC. All Rights Reserved.

amdc.integrated.externalsystems=9,57,63,75,78,79,81,87,88,89,90,91,93,94,96
amdc.max.resp.externalsystems=9,82,87,88,93
amdc.name=Administrative Message Data Channel
appointment.file.path=/appointments_data
authentication2wayssl=true
cdm.persist={{cdm.persist}}
concurrent.consumers=5
hub.hostname={{hub.hostname}}
identity.server.host={{identity.server.host}}
idmap.cache.expiry={{idmap.cache.expiry}}
JAVA_TOOL_OPTIONS={{ java.tool.options }}
loghub.appComponent.constituentType=Administrative Messaging
loghub.priority={{loghub.priority }}
max.activemq.connections={{max.activemq.connections}}
max.activemq.consumers={{max.activemq.consumers}}
max.batch.size=10
memcached.integrationIdMapping.cluster.endpoint={{ memcached.integrationIdMapping.cluster.endpoint }}
memcached.integrationPractice.cluster.endpoint={{ memcached.integrationPractice.cluster.endpoint }}
memcached.integrationPatient.cluster.endpoint={{ memcached.integrationPatient.cluster.endpoint }}
message.broker.password={{message.broker.password}}
message.broker.url={{message.broker.url}}
message.broker.userName={{message.broker.userName}}
messagereprocessing.cronschedule=0+0+23+*+*+?
messagereprocessing.datachannel.name=AMDC
mongo.checksum=false
mongo.collectionkey={{mongo.collectionkey}}
mongo.compression.flag=false
mongo.dbkey={{mongo.dbkey}}
mongo.encryption.key={{mongo.encryption.key}}
mongo.password={{mongo.password}}
mongo.serverAddress={{mongo.serverAddress }}
mongo.username={{mongo.username}};
OTEL_SERVICE_NAME={{ otel.service.name }}
OTEL_EXPORTER_OTLP_ENDPOINT={{ otel.exporter.otlp.endpoint }}
OTEL_EXPORTER_OTLP_PROTOCOL={{ otel.exporter.otlp.protocol }}
patient.cache.expiry={{patient.cache.expiry}}
portal.host.url={{common.portal.rest.hostname}}
portal.rest.url={{common.portal.rest.hostname }}/practice/rest/internal/integration
practice.cache.expiry={{practice.cache.expiry}}
{% if environment ==  'prod' -%}
public.events.base.url=https://integration.medfusion.net/v1
public.events.base.url.v3=https://integration.medfusion.net/v3
{% elif environment ==  'local' -%}
public.events.base.url={{common.event.hostname }}/events/v1
public.events.base.url.v3={{common.event.hostname }}/events/v3
oauth.healthstatus.url=https://oauthws.e2e.ep.intuit.net/health/full
oauth.use.iam=false
oauth.validation.url=https://oauthws.e2e.ep.intuit.net/iam/oauth_utils/v1/consumers/%s/access_tokens/%s
authentication2wayssl=true
{%- elif environment ==  'preqa' -%}
public.events.base.url={{common.event.hostname }}/events/v1
public.events.base.url.v3={{common.event.hostname }}/events/v3
{%- elif environment ==  'qa' -%}
public.events.base.url={{common.event.hostname }}/events/v1
public.events.base.url.v3={{common.event.hostname }}/events/v3
{%- elif environment ==  'perf' -%}
public.events.base.url=https://integration.demo.medfusion.net/v1
public.events.base.url.v3=https://integration.demo.medfusion.net/v3
{%- else -%}
public.events.base.url={{common.event.hostname }}/events/v1
public.events.base.url.v3={{common.event.hostname }}/events/v3
{%- endif %}