spring.datasource.url={{ spring.datasource.url }}
spring.datasource.driverClassName={{ spring.datasource.driverClassName }}
spring.main.banner-mode={{ spring.main.banner-mode }}
spring.session.jdbc.initialize-schema={{ spring.session.jdbc.initialize-schema }}
spring.sql.init.mode={{ spring.sql.init.mode }}
spring.sql.init.platform={{ spring.sql.init.platform }}
spring.sql.init.continue-on-error={{ spring.sql.init.continue-on-error }}
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation={{ spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation }}
spring.jpa.show-sql={{ spring.jpa.show-sql }}
spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation={{ spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation }}
spring.jpa.generate-ddl={{ spring.jpa.generate-ddl }}
spring.jpa.properties.hibernate.format_sql={{ spring.jpa.properties.hibernate.format_sql }}
spring.jpa.defer-datasource-initialization={{ spring.jpa.defer-datasource-initialization }}
spring.jpa.properties.hibernate.use_sql_comments={{ spring.jpa.properties.hibernate.use_sql_comments }}
spring.jpa.hibernate.ddl-auto={{ spring.jpa.hibernate.ddl-auto }}
spring.jpa.properties.hibernate.dialect={{ spring.jpa.properties.hibernate.dialect }}
logging.level.org.springframework={{ logging.level.org.springframework }}