"spring.datasource.username"="{{ spring.datasource.username | awssecretarn }}"
"spring.datasource.password"="{{ spring.datasource.password | awssecretarn }}"
"actuator_username"="{{ actuator_username | awssecretarn }}"
"actuator_password"="{{ actuator_password | awssecretarn }}"